.faq-portion > h6{
    color: #162cca;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5em;
}
.faq-portion > h2 {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1em;
}

.faq-question {
    cursor: pointer;
  }
  
  .faq-icon {
    font-size: 30px; /* Adjust the font size as needed */
    padding:1px 2px 1px 3px;
    border-radius:50%;
    border: 1px solid black;
  }
.faq-line{
width:100%;
margin-top:40px;
padding-bottom:80px;
background-color: #f2f7ff;
}
.faq-question-text{
    color: #0e0e0e;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
}
.faq-answer{
    color: #717171;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}
  
  